<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Private Events", root_path %>
    <% if logged_in? %>
      <% name = current_user.name %>
      <%= link_to "#{name}", user_path(User.find(current_user.id)) %>
    <%end%>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
      </ul>
    </nav>
  </div>
</header>
    <%= yield %>
  </body>
</html>
